.main-w {
  width: 1200px;
}

body {
  font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
  color: #606c71;
  line-height: 1.5;
  font-size: 1rem;
  /* padding: 0 10px; */
}

p,span {
  line-height: 1.7;
  word-wrap:break-word;
  word-break:break-all;
}


@media screen and (max-width: 1024px) {
  img {
    width: 96% !important;
  }
}
